<!-- <h1> Hello World</h1> -->
<!-- <app-rooms /> -->

<!-- <app-employee></app-employee> -->

<!-- <app-container>
  <app-rooms></app-rooms>

  <h1>This is from ng-content</h1>

  <app-employee></app-employee>
</app-container>

<div #name></div> -->


<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">
    <h1>Welcome User</h1>
  </div>
  <div *ngSwitchCase="'Admin'">
    <app-rooms />
  </div>

  <div *ngSwitchDefault>
    You are not authorized to view this page!
  </div>
</div> -->

<!-- <div>
  <ng-template #user></ng-template>
</div> -->

<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a> -->

<app-app-nav></app-app-nav>

<!-- <router-outlet></router-outlet> -->